<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
</head>
<body>
    <ul>
        <li><a href="/weather/sydney">Scenario 1 Example: Sydney Weather</a></li>
        <li><a href="/weather/sydney/today">Scenario 2 Example: Sydney Weather Today</a></li>
        <li><a href="/weather/sydney/friday">Scenario 3 Example: Sydney Weather on Friday</a></li>
    </ul>
</body>
</html>